:host {
  font-family: RobotoDraft, 'Helvetica Neue', Helvetica, Arial;
}

[drawer] {
  background-color: #fff;
}

[main] > div {
  padding: 2em;
}

[drawer] > core-item {
  padding: 1em;
}

[main] paper-checkbox {
  margin-right: 1em;
}

[main] {
  height: 100%;
  background-color: #f1f1f3;
}

[drawer] core-toolbar {
  background-color: #4F7DC9;
  color: #fff;
}

[main] core-toolbar {
  background-color: #526E9C;
  color: #fff;
}
core-scaffold {
  font-family: 'Roboto', Arial;
}
#files {
        display: block;
        margin: 0 auto;;
      }

      #files::-webkit-file-upload-button {
        visibility: hidden;
      }

      #files::before {
        content: 'Click to upload your code :)';
        background: white;
        padding: 5px;
        outline: none;
        white-space: nowrap;
        -webkit-user-select: none;
        cursor: pointer;
        font-size: 16pt;
        margin: 0 auto;
      }

      #files:hover::before {
        border-color: black;
      }

      #files:active::before {
        background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
      }